.main{
    border: 1px solid white;
    background-color: white;
    height: 99%;
}


p{
    position: absolute;
    padding-left: 250px;
    padding-top: 20px;
}

table{
    border: 3px solid black;
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 1.6rem;
}

th{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}


.td_comm{
    float: left;
}

.td_user{
    float: right;
}

button[type=submit]{
/*     position: absolute; */
/*     right: 40px; */
/*     top: 123px; */
    border: none;
    background-color: white;
    width: 18px;
    height: 18px;
    margin-right: 12px;
    font-size: 20px;
    cursor: pointer;
}

.page{
    display: block;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}


.td_video_src{
    width: 500px;
    height: 500px;
    opacity: 0;
    transition: 1s;
    position:absolute;
    right: 100px;
    z-index:-1;
}

td a{
    text-decoration: none;
    color: black;
}

td a:hover{
    color:blue;
}
